<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.imeetu.iu"
    android:installLocation="preferExternal"
    android:versionCode="20160530"
    android:versionName="1.3.2">

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="21" />
    <permission android:name="cc.imeetu.iu.PUBLISH_POST_ACTION_PERMISSION" />
    <!-- oss文件上传相关权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 短信验证相关权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 环信 权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 友盟相关 -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <!-- shareSdk -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="cc.imeetu.iu.PUBLISH_POST_ACTION_PERMISSION" />

    <application
        android:name="com.android.biubiu.myapplication.BiubiuApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <!-- 友盟 appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56f4c0ece0f55a520b001c1e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="imeetu#meetu" />
        <!-- 高德地图的appkey -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="98fa93e33775faf8a4bac3b500ba0c0d" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- 声明sdk所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />

        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 百度地图所需的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" />

        <receiver android:name="com.android.biubiu.push.MyPushReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind、setTags等method的返回结果 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <!-- 接收通知点击事件，和通知自定义内容 -->
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>
        <!-- umeng sdk begin -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- umeng sdk end -->
        <!-- 4.6版本新增的Activity声明，提升Push后台存活率 -->
        <activity
            android:name="com.baidu.android.pushservice.PushKeepAlive"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- push service start -->
        <!-- 用于接收系统消息以保证PushService正常运行 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <!-- Push服务接收客户端发送的各种请求 -->
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <!-- push结束 -->


        <!-- 开机自启动服务 -->
        <receiver android:name="com.android.biubiu.chat.StartServiceReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!--
             gcm start
        <receiver
            android:name="com.hyphenate.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.android.biubiu" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.hyphenate.chat.EMGCMListenerService"
            android:exported="false" >
        </service>

        <receiver
            android:name="com.android.biubiu.chat.GCMPushBroadCast"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.hyphenate.sdk.push" />

                <category android:name="com.android.biubiu" />
            </intent-filter>
        </receiver>
        gcm end


        mi push
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />

        <receiver
            android:name="com.hyphenate.chat.EMMipushReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        -->
        <!-- mi push end -->
        <!-- WXPay sdk begin -->
        <activity
            android:name="cn.beecloud.BCWechatPaymentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="cn.beecloud.BCWechatPaymentActivity" />
        <!-- WXPay sdk end -->


        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- alipay sdk end -->


        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="v3FkYC4w53w46uuvw9L6qBF1" />

        <!-- shareSdk  分享相关 -->

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name="com.android.biubiu.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 表情云相关 -->
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageList"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiDetail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageDetail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageDown"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageMyCollection"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageSetting"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.ServiceDeclaration"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.melink.bqmmsdk.ui.store.EmojiPackageSort"
            android:screenOrientation="portrait"
            android:theme="@style/bqmm_horizontal_slide" />
        <!-- 表情云相关结束 -->
        <activity
            android:name="com.android.biubiu.WelcomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppStartLoadTranslucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.biubiu.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.GuildActivity"
            android:label="@string/title_activity_biu_biu_send"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.LoginOrRegisterActivity"
            android:label="@string/title_activity_biu_biu_send"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.LoginActivity"
            android:label="@string/title_activity_biu_biu_send"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.RegisterOneActivity"
            android:label="@string/title_activity_biu_biu_send"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.RegisterTwoActivity"
            android:label="@string/title_activity_biu_biu_send"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.RegisterThreeActivity"
            android:label="@string/title_activity_biu_biu_send"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.biu.BiuBiuSendActivity"
            android:label="@string/title_activity_biu_biu_send"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.biu.BiuChargeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.biu.MyPagerActivity"
            android:label="@string/title_activity_biu_biu_send"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.ChangeSchoolActivity"
            android:label="@string/title_activity_change_school"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.ChangeBrithdayActivity"
            android:label="@string/title_activity_change_brithday"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.ScanUserHeadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.ChangeCityActivity"
            android:label="@string/title_activity_change_city_main"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.ChangeCompanyActivity"
            android:label="@string/title_activity_change_city_main"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.ChangeConstellationActivity"
            android:label="@string/title_activity_change_constellation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.ChangeHeightWeightActivity"
            android:label="@string/title_activity_height_weight"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.ChangeIdentityProfessionActivity"
            android:label="@string/title_activity_change_identity_profession"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.UserPhotoScanActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.AboutMeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.MainSetActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.MatchSettingActivity"
            android:label="@string/title_activity_match_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.BeginGuiderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.MatchSetTagActivity"
            android:label="@string/title_activity_match_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.PersonalityTagActivity"
            android:label="@string/title_activity_personality_tag"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.InterestLabelActivity"
            android:label="@string/title_activity_interest_label"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.SuperMainInfoActivity"
            android:label="@string/title_activity_interest_label"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.ChangeHomeTwonActivity"
            android:label="@string/title_activity_change_home_twon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.mine.ChangeNameActivity"
            android:label="@string/title_activity_change_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.ForgetPasswordActivity"
            android:label="@string/title_activity_forget_password"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.activity.biu.BiuBiuReceiveActivity"
            android:label="@string/title_activity_biu_biu_receive"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.chat.ChatActivity"
            android:label="@string/title_activity_chat"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.chat.ScanChatPhoto"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.chat.UserListActivity"
            android:label="@string/title_activity_user_list"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.ContextMenuActivity"
            android:label="@string/title_activity_context_menu"
            android:screenOrientation="portrait" />

        <!-- 显示下载大图页面 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 地图 -->
        <activity
            android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <activity
            android:name="com.android.biubiu.AboutOurActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.android.biubiu.UserAgreementActivity"
            android:label="@string/title_activity_user_agreement" />
        <activity
            android:name="com.android.biubiu.activity.act.ActivityListActivity"
            android:label="@string/title_activity_activity_list" />
        <activity
            android:name="com.android.biubiu.activity.act.WebviewActivity"
            android:label="@string/title_activity_webview" />
        <activity
            android:name="com.android.biubiu.activity.history.History_Activity"
            android:label="@string/title_activity_history_" />
        <activity
            android:name="com.android.biubiu.activity.biu.ReceiveBiuListActivity"
            android:label="@string/title_activity_receive_biu_list" />
        <activity
            android:name="com.android.biubiu.community.PublishHomeActivity"
            android:label="@string/title_activity_publish_home" />
        <activity
            android:name="com.android.biubiu.community.PublishEditActivity"
            android:label="@string/title_activity_publish_edit" />
        <activity
            android:name="com.android.biubiu.community.CardTagActivity"
            android:label="@string/title_activity_card_tag" />
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="me.nereo.multi_image_selector.PreviewActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.android.biubiu.community.homepage.PostsDetailActivity"
            android:label="@string/title_activity_posts_detail"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.android.biubiu.community.homepage.PostsListByTagActivity"
            android:label="@string/title_activity_posts_list_by_tag" />
        <activity
            android:name="com.android.biubiu.activity.mine.UserDynamicActivity"
            android:label="@string/title_activity_user_dynamic" />
        <activity
            android:name="com.android.biubiu.community.CommunityBiuListActivity"
            android:label="@string/title_activity_community_biu_list"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.android.biubiu.community.CommNotifyActivity"
            android:label="@string/title_activity_comm_notify"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>

</manifest>